:root {
  --colorBrand: #29adb2;
  --colorBrandSoft: #0766ad;
  --colorBackground: #111111;
  --colorBase: #ffffff;
  --colorBase2: var(--colorBackground);
  --colorBorder: #dbdbdb;
  --colorText: #111111;
  --colorText2: #6e6e6e;
  --colorText3: #dfdfdf;
  --radius: 5px;
  --menuHeight: 60px; // update globalVariables.ts MENU_HEIGHT
}
