:root {
  --colorBrand: #00a761;
  --colorBrandSoft: #c9e9e7;
  --colorBackground: #111111;
  --colorBase: #ffffff;
  --colorBase2: var(--colorBackground);
  --colorBorder: #dbdbdb;
  --colorText: #111111;
  --colorText2: #6b6b6b;
  --colorText3: #f1f1f1;
  --radius: 5px;
  --menuHeight: 60px; // update globalVariables.ts MENU_HEIGHT
}
