---
import Layout from '@/layouts/Layout.astro'
---

<style lang="scss">
  p {
    padding: 10px 0;
  }
</style>

<Layout title="example">
  <div class="g-wrapper">
    <h2>Miquel Torán</h2>
    <h1>Potenciador digital</h1>

    <p>Las páginas web no sirven para nada.</p>
    <p>Matizo.</p>

    <p>
      Las páginas web <b>por si solas</b> no sirven para nada.
    </p>
    <p>Son un medio para comunicar un mensaje, un escaparte al mundo entero, una forma de conectar puntos.</p>

    <p>Pero lo que sea que ofreces tiene que ser bueno, muy bueno, algo que ayude a las personas realmente, eso es el núcleo de todo.</p>

    <p>Mi trabajo consiste en multiplicar esa esencia, llegar a más gente y dejar una huella en ellos.</p>

    <p>¿Cómo? Haciendo que el envoltorio sea bonito, funcional, elegante y que transmita el mensaje que quieres dar.</p>

    <p>Personalmente me causa muchisima desconfianza entrar en una empresa y ver que la web esta descuidada.</p>

    <p>
      "¿Si son chapuzas con esto, lo serán para todo?"<br />"¿Quién ha decidido hacer esto y quien ha dado el visto bueno?"<br />"¿Por qué
      son tan descuidados?"
    </p>

    <p>
      Reconozco que mi opinión esta sesgada porque me dedico a ello, de todas formas lee mi trayectoria y entenderás por qué pienso asi y
      por qué el subconsciente de tus clientes lo hacen también.
    </p>

    <p>
      No es una historia de mi parte bonita, es una historia real, me identifico como humano, asi que verás mis fortalezas y puntos debiles
    </p>

    ------------

    <h3>Fase 1: La incubadora</h3>
    <p>
      Yo con mis 16 añitos no tenía ni idea de a qué me quería dedicar, aún no me conocía bien a mi mismo, sólo sabia que me gustaba mucho
      jugar a videojuegos y al futbol. Siempre he sido un estudiante especialista en rozar el aprobado haciendo lo mínimo, tenía un perfil
      bajo, sin llamar la atención, sin ningún talento especial.
    </p>

    <p>
      En secundaria, por inercia elegí una optativa de programación, pocos meses después me llamaban la atención por avanzar mi proyecto de
      programación (usando Scratch) en las otras clases.
    </p>

    <p>
      En lo que estudios se refiere, descubrí que no era persona perezosa, sino selectiva. Cual francotirador, elijo una cosa, me obsesiono
      y la llevo hasta las últimas.
    </p>

    <h3>Fase 2: El despertar</h3>
    <p>
      Con esa experencia no me costó nada elegir la FP de Desarrollo de Aplicaciones Web, fué una etapa bastante placentera, aprender pasó
      de ser un coñazo a algo valioso (aunque algunas me enseñaban cosas desfasadas). Quise aprovechar esa comodidad y me aventuré a meterme
      en el Erasmus que ofrecían. Estuve viviendo dos meses en Varsovia trabajando de técnico inforático en una empresa polaca. Finalmente
      culminé mis estudios con un proyecto de fin de curso muy especial. Aprovechando mi faceta ajedrecista, hice un Ajedrez en 3D que
      asombró a toda la clase, Aje3d se llamaba (desbordaba ingenio también). Lo hice yo solo (en ese entonces no se me daba muy bien
      trabajar en equipo) y me pusieron un rotundo 10, hasta el punto que años mas tarde me llamaron para enseñarlo y dar una charla a las
      futuras generaciones de DAW de "La Pineda Badalona".
    </p>

    <h3>Fase 3: El chasco</h3>
    <p>
      Entrar al mundo laboral fué una decepción, no tanto por las empresas con las que trabajé y que me siento agradecido por haberme dado
      esas oportunidades y ser parte de mi crecimiento. Trabajé arreglando routers y de programador con Wordpress, pero no encontraba nada
      que me llenase. Dejé mi último empleo y me tomé un año sabático estudiando nuevas tecnologías de programación que no me enseñaron en
      la FP pero que ví que las empresas demandaban.
    </p>

    <p></p>
  </div>
</Layout>
