---
import Layout from '@/layouts/Layout.astro'
import HorizontalSlides from '@/components/HorizontalSlides.svelte'
import Hero from '@/components/Hero.svelte'
import Menu from '@/components/Menu.svelte'
import Socials from '@/components/Socials.svelte'
---

<style lang="scss">
  .first-text {
    padding-top: 100px;
    background-color: white;

    h3,
    h3 span {
      font-size: 30px;
      font-weight: bold;
      padding: 30px 0;
    }

    p {
      padding: 10px 0;
      text-align: justify;
    }

    .bottom-wave {
      transform: translateY(10px);
      filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.7));
    }
  }

  .slide {
    display: flex;
    align-items: center;
    h3 {
      font-family: 'Oswald';
      color: var(--colorBrand);
      font-size: 50px;
      margin-top: 20px;
    }

    p {
      color: white;
      padding: 10px 0;
      text-align: justify;
    }
  }
</style>

<Layout title="Miquel Torán">
  <Menu client:load />
  <Hero client:load />

  <div class="first-text">
    <div class="g-wrapper">
      <h3 class="g-title">Las páginas web <span class="g-color">no sirven para nada.</span></h3>

      <p>Me explico.</p>

      <p>
        Las páginas web <b>por si solas</b> no sirven para nada.
      </p>
      <p>Son un medio para comunicar un mensaje, un escaparte al mundo entero, una forma de conectar puntos.</p>
      <p>
        Por eso mismo lo que sea que ofreces tiene que ser bueno, muy bueno, algo que ayude realmente a las personas, eso es el núcleo de
        todo.
      </p>
      <p>Teniendo eso, una web bien hecha sirve para multiplicar esa esencia, llegar a más gente y dejar una huella en ellos.</p>
      <p>Pero... ¿Cómo? Haciendo que el envoltorio sea bonito, funcional, elegante y que <b> transmita el mensaje que quieres dar.</b></p>
      <p>Debo decir que personalmente me causa muchísima desconfianza investigar una empresa y ver que la web esta descuidada.</p>

      <p>
        <b>Para quedarte en medias tintas no hagas nada.</b>
      </p>

      <p>Si no, puedes provocar el efecto contrario y que tus visitantes piensen cosas estilo:</p>
      <p style="color: var(--colorText2); font-style: italic;">
        "¿Si son chapuzas con esto, lo serán para todo?"<br />"¿Quién ha decidido hacer esto y quién ha dado el visto bueno?"<br />"¿Por qué
        son tan descuidados?"
      </p>
      <br />

      <p>
        Mi vocación consiste en <b>desactivar esas preguntas</b> y que los visitantes se <b> conviertan en clientes </b> a través de una experencia
        de usuario memorable.
      </p>
      <br />
      <b>Mi receta:</b>
      <p class="g-color">Zambullirme en tu sector, una web 100% a medida, textos de venta persuasivos y un diseño acorde a tu mensaje.</p>
      <p style="font-size: 14px;">
        PD: No trabajo con Wordpress, ni con plantillas, ni con el código de otros. <br />PD2: Si crees que podemos llevarnos bien, aquí
        abajo te dejo cómo contactarme.
      </p>
    </div>

    <Socials />
  </div>

  <HorizontalSlides>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 1: INCUBADORA</h3>
        <p>
          Tenía 16 años y ninguna idea de a qué me quería dedicar (que sorpresa), aún no me conocía bien a mi mismo, sólo sabia que me
          gustaba mucho jugar a videojuegos y al futbol. Siempre he sido un estudiante especialista en rozar el aprobado haciendo lo mínimo,
          tenía un perfil bajo, sin llamar la atención, sin ningún talento especial.
        </p>

        <p>
          En secundaria, por inercia elegí una optativa de programación, pocos meses después me llamaban la atención por avanzar mi proyecto
          de programación (usando Scratch) en las otras clases.
        </p>

        <p>
          En lo que estudios se refiere, descubrí que no era persona perezosa, sino selectiva. Cual francotirador, elijo una cosa, me
          obsesiono y la llevo hasta las últimas.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 2: DESPERTAR</h3>
        <p>
          Con esa experencia no me costó nada elegir la FP de Desarrollo de Aplicaciones Web, fué una etapa bastante placentera, aprender
          pasó de ser un coñazo a algo valioso. Quise aprovechar esa comodidad y me aventuré a meterme en el Erasmus que ofrecían. Estuve
          viviendo dos meses en Varsovia trabajando de técnico inforático en una empresa polaca. Finalmente culminé mis estudios con un
          proyecto de fin de curso muy especial.
        </p>

        <p>
          Aprovechando mi faceta ajedrecista, hice un Ajedrez en 3D que asombró a toda la clase, Aje3d se llamaba (desbordaba ingenio
          también). Lo hice yo solo (en ese entonces no se me daba muy bien trabajar en equipo) y me pusieron un rotundo 10, hasta el punto
          que años mas tarde me llamaron para enseñarlo y dar una charla a las futuras generaciones de DAW de "La Pineda Badalona".
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 3: CHASCO</h3>
        <p>
          Entrar al mundo laboral fué una decepción, no tanto por las empresas con las que trabajé y que me siento agradecido por haberme
          dado esas oportunidades y ser parte de mi crecimiento. Trabajé arreglando routers y de programador con Wordpress, pero no
          encontraba nada que me llenase entonces fué cuando dejé mi último empleo y me tomé un año sabático estudiando nuevas tecnologías
          de programación que no me enseñaron en la FP pero que ví que las empresas demandaban.
        </p>

        <p>Paralelamente también descubrí mi amor por la lectura, en especial por libros de desarrollo personal, salud y psicología.</p>

        <p>
          Aprendí VueJS entre otras cosas y empecé a buscar trabajo otra vez, después de meses sin que nadie me abriese la puerta, una
          importante inmobiliaria online española me dió la oportunidad.
        </p>

        <p>
          Supieron ver mas allá de los títulos y experencia profesional. Allí estaba especializado en ser Frontend, era una parte muy
          pequeña de un gran engranaje con sus ventajas e inconvenientes. El proyecto era un monstruo indomable, cambiar un botón de color
          requeria un proceso y unos protocolos muy largos. Yo tenía muchas ideas para simplificar y optimizar el código, pero era demasiado
          arriesgado tocar una máquina en marcha que ya funcionaba.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 4: EQUILIBRIO</h3>
        <p>
          Con todo lo vivido me he dado cuenta de muchas cosas, programar por programar lo puede aprender cualquiera, lo que a mi me fascina
          va un poco más lejos.
        </p>

        <p>Para mi programar es una herramienta de creación, un puente entre las ideas y el mundo real.</p>
        <p>
          Me encanta que las cosas sean lo más eficientes posible, escribo código pensando en la sencillez y la elegancia, para que el
          próximo que tenga que tocarlo piense "Coño, que ingenioso es esto".
        </p>
        <p>
          Me gusta estar al dia de las últimas tecnologías que aparecen y no me importa rehacer procesos que ya funcionaban con tal de
          buscar ese punto extra de excelencia.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 5: EPIFANÍA</h3>
        <p>
          Ahora trabajo en Tramita, una inmobiliaria muy familiar de Santa Coloma, soy el único responsable de la parte tecnológica de la
          empresa.
        </p>
        <p>
          He de admitir que era una responsabilidad demasiado grande para lo que era, por eso ha sido imperativo cambiar y crecer como
          profesional.
        </p>
        <p>
          Probar cosas y formarse sin parar me han convertido en un todoterreno de la programación, ahora soy capaz de llevar un proyecto
          web por todas las fases necesarias, (diseño, textos, ćodigo, servidores...)
        </p>
        <p>
          Me he dado cuenta de que hay mucho más que escribir líneas de código, entender el por qué detrás de las páginas web que hago,
          enforcarme en el resultado real:
        </p>
        <p>"Conectar tu mensaje al mundo con las personas indicadas"</p>
      </div>
    </div>
    <div class="slide">
      <div class="slide-content g-wrapper">
        <h3>FASE 6: FUTURO</h3>
        <p>A nivel de programación he logrado dominar un stack muy minimalista basado en Astro, Svelte y Typescript</p>
        <p>Ahora estoy con aprender a hacer textos de venta, diseño, marketing digital, entre otras cosas.</p>
        <p>He encontrado un lugar para explaiarme y sacar a relucir mis virtudes.</p>
        <p>
          En cuanto a mi parte personal, estoy aprendiendo a gestionar y darle la vuelta a partes de mi que antiguamente me han machacado
          bastante. Cosas como la obsesión, ansiedad al futuro o una introversión pronunciada, ya no son un problema sino mis armas más
          preciadas para afrontar cualquier cosa que se me ponga por delante.
        </p>
      </div>
    </div>
  </HorizontalSlides>
</Layout>
