---
import Layout from '@/layouts/Layout.astro'
---

<style lang="scss">
  p {
    padding: 10px 0;
  }
</style>

<Layout title="example">
  <div class="g-wrapper">
    <h2>Miquel Torán</h2>
    <h1>Potenciador digital</h1>

    <p>Las páginas web no sirven para nada.</p>
    <p>Matizo.</p>

    <p>
      Las páginas web <b>por si solas</b> no sirven para nada.
    </p>
    <p>Son un medio para comunicar un mensaje, un escaparte al mundo entero, una forma de conectar puntos.</p>

    <p>Pero lo que sea que ofreces tiene que ser bueno, muy bueno, algo que ayude a las personas realmente, eso es el núcleo de todo.</p>

    <p>Mi trabajo consiste en multiplicar esa esencia, llegar a más gente y dejar una huella en ellos.</p>

    <p>¿Cómo? Haciendo que el envoltorio sea bonito, funcional, elegante y que transmita el mensaje que quieres dar.</p>

    <p>Personalmente me causa muchisima desconfianza entrar en una empresa y ver que la web esta descuidada.</p>

    <p>"¿Si son chapuzas con esto, lo serán para todo?", "¿Quién ha decidido hacer esto y quien ha dado el visto bueno?"</p>

    <p>
      Reconozco que mi opinión esta sesgada porque me dedico a ello, de todas formas lee mi trayectoria y entenderás por qué pienso asi y
      por qué el subconsciente de tus clientes lo harán también.
    </p>
  </div>
</Layout>
